body {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  font-family: Lato, Arial, sans-serif;
}

body > div {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
